/* Estilo para el título */
h1 {
    text-align: center;
    color: orange;
}

/* Estilo para las tablas */
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%; /* Ajusta el ancho de la tabla según tu preferencia */
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilo para las celdas de estado */
td:nth-child(2) {
    color: orange;
}

/* Estilo para los botones de cambiar estado */
button {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: orange;
}

/* Estilo para centrar el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%; /* Ajusta el ancho del formulario según tus preferencias */
}

/* Estilo para el botón dentro del formulario */
form button {
    margin-top: 10px; /* Espacio superior entre el formulario y el botón */
}
