/* Estilo para el fondo en blanco */
body {
    background-color: #fff;
}

/* Estilo para el texto en negro */
h1, p {
    color: #000;
}

/* Estilo para resaltar en naranja */
a, button {
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Estilo de enlace naranja al pasar el mouse */
a:hover {
    background-color: #FF6347;
}
