<!DOCTYPE html>
<html>
<head>
    <title>Tabla de Estados de Vehículos</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <style>
        .notification {
            display: none;
            position: absolute;
            background-color: #f44336;
            color: white;
            padding: 15px;
            border-radius: 5px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Estilo para el logotipo */
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
        }
    </style>
</head>
<body>
    <!-- Agrega el logotipo en la esquina superior izquierda -->
    <a href="https://ptagency.onrender.com/admin" class="logo">
        <img src="{{ url_for('static', path='logotipo.png') }}" alt="PT AGENCY" title="PT AGENCY" width="50">
    </a>
    <h1>Vehículos Activos</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Número de Placa</th>
                <th>Tipo de Vehículo</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="active-vehicles">
            {% for vehiculo in activos %}
                <tr>
                    <td>{{ vehiculo.placa }}</td>
                    <td>{{ vehiculo.tipo }}</td>
                    <td>{{ vehiculo.estado }}</td>
                    <td>
                        <form class="cambiar-estado-form" data-placa="{{ vehiculo.placa }}">
                            <select name="nuevo_estado">
                                <option value="activo">Activo</option>
                                <option value="mantenimiento">Mantenimiento</option>
                            </select>
                            <button type="submit">Cambiar Estado</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Vehículos en Mantenimiento</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Número de Placa</th>
                <th>Tipo de Vehículo</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="maintenance-vehicles">
            {% for vehiculo in mantenimiento %}
                <tr>
                    <td>{{ vehiculo.placa }}</td>
                    <td>{{ vehiculo.tipo }}</td>
                    <td>{{ vehiculo.estado }}</td>
                    <td>
                        <form class="cambiar-estado-form" data-placa="{{ vehiculo.placa }}">
                            <select name="nuevo_estado">
                                <option value="activo">Activo</option>
                                <option value="mantenimiento">Mantenimiento</option>
                            </select>
                            <button type="submit">Cambiar Estado</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Formulario para agregar vehículos -->
    <h1>Agregar Vehículo</h1>
    <form action="/agregar_vehiculo" method="post">
        <label for="placa">Número de Placa (3 dígitos):</label>
        <input type="text" name="placa" required pattern="[0-9]{3}" title="Debe tener 3 dígitos">
        
        <label for="estado">Estado:</label>
        <select name="estado">
            <option value="activo">Activo</option>
            <option value="mantenimiento">Mantenimiento</option>
        </select>
        
        <label for "tipo">Tipo de Vehículo:</label>
        <select name="tipo">
            <option value="bus">Bus</option>
            <option value="tren">Tren</option>
            <option value="taxis">Taxis</option>
            <option value="adaptado">Vehículo Adaptado</option>
            <option value="privado">Transporte Privado</option>
        </select>
        
        <button type="submit" id="agregarButton">Agregar Vehículo</button>
    </form>

    <div class="notification" id="notification" style="display: none;"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Captura el evento submit de los formularios de cambio de estado
            $(".cambiar-estado-form").submit(function (event) {
                event.preventDefault();
                const form = $(this);
                const placa = form.data('placa');
                const nuevoEstado = form.find('select[name="nuevo_estado"]').val();
                
                // Mover el vehículo de una tabla a otra
                const row = form.closest('tr');
                if (nuevoEstado === 'mantenimiento') {
                    $("#maintenance-vehicles").append(row);
                } else if (nuevoEstado === 'activo') {
                    $("#active-vehicles").append(row);
                }

                // Realizar una solicitud POST al servidor para cambiar el estado
                $.post(`/cambiar_estado/${placa}`, { nuevo_estado: nuevoEstado }, function (data) {
                    // Recargar la página para reflejar los cambios
                    location.reload();
                }).fail(function (error) {
                    console.error('Error:', error);
                });
            });

            const agregarButton = $("#agregarButton");
            const placaInput = $("input[name='placa']");
            const notification = $("#notification");

            agregarButton.click(function (event) {
                const placa = placaInput.val();
                const placasExistentes = Array.from(document.querySelectorAll('td:nth-child(1)')).map(td => td.textContent);
                if (placasExistentes.includes(placa)) {
                    event.preventDefault();
                    showNotification('La placa ya existe. Introduce una placa única.');
                }
            });

            function showNotification(message) {
                notification.text(message);
                notification.css("display", "block");
                setTimeout(function () {
                    notification.css("display", "none");
                }, 3000);  // La notificación desaparecerá después de 3 segundos
            }
        });
    </script>
</body>
</html>
