<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestión de Programación de Transporte</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1>Gestión de Programación de Transporte</h1>
    </div>

    <form id="service-form">
        <label for="vehiculo">Seleccione un vehículo activo:</label>
        <select id="vehiculo" name="vehiculo" required>
            <option value="" disabled selected>Seleccionar un vehículo</option>
            {% for vehicle in active_vehicles %}
                <option value="{{ vehicle.tipo }} - {{ vehicle.placa }}">{{ vehicle.tipo }} - {{ vehicle.placa }}</option>
            {% endfor %}
        </select><br>

        <label for="horario">Horario:</label>
        <input type="time" id="horario" name="horario" required><br>

        <button type="submit">Agregar Ruta</button>
    </form>

    <div id="service-list-container">
        <div class="service-list">
            <h2>Servicios de Autobús</h2>
            <ul id="autobus-services">
                <!-- Contenido de la lista de autobuses -->
            </ul>
        </div>

        <div class="service-list">
            <h2>Servicios de Tren</h2>
            <ul id="tren-services">
                <!-- Contenido de la lista de trenes -->
            </ul>
        </div>

        <div class="service-list">
            <h2>Servicios de Taxis</h2>
            <ul id="taxis-services">
                <!-- Contenido de la lista de taxis -->
            </ul>
        </div>

        <div class="service-list">
            <h2>Servicios de Adaptados</h2>
            <ul id="adaptado-services">
                <!-- Contenido de la lista de adaptados -->
            </ul>
        </div>

        <div class="service-list">
            <h2>Servicios de Privados</h2>
            <ul id="privado-services">
                <!-- Contenido de la lista de privados -->
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function loadTransportServices() {
                fetch('/services')
                    .then(response => response.json())
                    .then(data => {
                        const autobusServices = document.getElementById('autobus-services');
                        const trenServices = document.getElementById('tren-services');
                        const taxisServices = document.getElementById('taxis-services');
                        const adaptadoServices = document.getElementById('adaptado-services');
                        const privadoServices = document.getElementById('privado-services');
    
                        autobusServices.innerHTML = '';
                        trenServices.innerHTML = '';
                        taxisServices.innerHTML = '';
                        adaptadoServices.innerHTML = '';
                        privadoServices.innerHTML = '';
    
                        data.forEach(service => {
                            const li = document.createElement('li');
                            li.innerText = `Placa: ${service.placa_vehiculo}, Horario: ${service.horario}`;
    
                            if (service.tipo === 'bus') {
                                autobusServices.appendChild(li);
                            } else if (service.tipo === 'tren') {
                                trenServices.appendChild(li);
                            } else if (service.tipo === 'taxis') {
                                taxisServices.appendChild(li);
                            } else if (service.tipo === 'adaptado') {
                                adaptadoServices.appendChild(li);
                            } else if (service.tipo === 'privado') {
                                privadoServices.appendChild(li);
                            }
                        });
                    });
            }
    
            loadTransportServices();
    
            const serviceForm = document.getElementById('service-form');
            serviceForm.addEventListener('submit', function (e) {
                e.preventDefault();
                const formData = new FormData(serviceForm);
    
                fetch('/services', {
                    method: 'POST',
                    body: JSON.stringify({
                        vehiculo: formData.get('vehiculo'),
                        horario: formData.get('horario')
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        serviceForm.reset();
                        loadTransportServices();
                    });
            });
        });
    </script>
    
</body>
</html>
