<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microservicio de Pagos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Microservicio de Pagos</h1>
        
        <form id="paymentForm">
            <div class="form-group">
                <label for="tarjeta">Número de Tarjeta:</label>
                <input type="text" class="form-control" id="tarjeta" required>
            </div>
            <div class="form-group">
                <label for="monto">Monto:</label>
                <input type="number" class="form-control" id="monto" required>
            </div>
            <button type="submit" class="btn btn-primary">Realizar Pago</button>
        </form>
    
        <hr>
    
        <h2>Últimos Pagos:</h2>
        <ul id="ultimosPagos">
            {% for pago in datos %}
            <li>Tarjeta: {{ pago.tarjeta }}, Monto: {{ pago.monto }}</li>
            {% endfor %}
        </ul>
        <div id="respuestaPago"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('paymentForm').addEventListener('submit', function(event) {
            event.preventDefault();
            realizarPago();
        });

        function realizarPago() {
            const tarjeta = document.getElementById('tarjeta').value;
            const monto = document.getElementById('monto').value;

            fetch('/realizar_pago', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ tarjeta, monto })
            })
            .then(response => response.json())
            .then(data => {
                const respuestaPago = document.getElementById('respuestaPago');
                respuestaPago.innerHTML = data.mensaje;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
