{% extends "panelUsuario.html" %}

{% block content %}
    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: orange;
        }

        h2 {
            text-align: center;
            color: orange;
        }
    </style>

    <h2>Precios Disponibles</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Placa Vehículo</th>
                <th>Horario</th>
                <th>Ruta</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for precio_data in precios_data %}
                <tr>
                    <td>{{ precio_data.tipo }}</td>
                    <td>{{ precio_data.placa_vehiculo }}</td>
                    <td>{{ precio_data.horario }}</td>
                    <td>{{ precio_data.ruta }}</td>
                    <td>{{ precio_data.precio }}</td>
                    <td><a href="/usuario/{{ user_name }}/pagos/{{ precio_data._id }}">Comprar Ticket</a></td>  <!-- Cambiar a _id -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}