{% extends "base.html" %}

{% block content %}
<div class="home">
    <div class="home-content">
        <h1 style="text-align: center; font-size: 100px;">PT AGENCY</h1>
        <p style="text-align: center; font-size: 25px;">Agencia de Transporte Público</p>
        <div style="text-align: center;">
            <a href="{{ url_for('rutas') }}" class="button">Rutas</a>
            <a href="{{ url_for('horarios') }}" class="button">Horarios</a>
            <a href="{{ url_for('precios') }}" class="button">Precios</a>
        </div>
    </div>
</div>
{% endblock %}